## Analysis of the rental data

Analysis of the rental data already downloded, parsed, and converted to csv.

In [25]:
import pandas as pd
from matplotlib import pyplot as plt

In [26]:
city_path = '../rental_list/lausanne/' 
all_rental_data_path = city_path + 'all_rental_data'
combined_data_path = all_rental_data_path + '/combined/rental_all.csv'
df = pd.read_csv(combined_data_path)

In [27]:
df.tail()

,Id,SurfaceArea,NumRooms,Type,Address,Description,Rent,Bookmark,Link
731,4757192,40.0,1.5,flat,"Rue Saint Martin, 1005 Lausanne, VD",1.5 pièces méublé Lausanne centre,NaN,None,en/d/flat-rent-\nlausanne/4757192?s=2&t=1&l=20...
732,4796165,65.0,3.0,flat,"1018 Lausanne, VD",Echange appartement 3 pcs vers rue Pontaise co...,NaN,None,en/d/flat-rent-\nlausanne/4796165?s=2&t=1&l=20...
733,4869501,85.0,3.5,flat,"1005 Lausanne, VD","Echange appartement 3,5 pièces à Lsne contre 4...",NaN,None,en/d/flat-rent-\nlausanne/4869501?s=2&t=1&l=20...
734,4952698,140.0,4.5,flat,"Av. de Valmont18, 1010 Lausanne, VD",Chamber louer tu suite,NaN,None,en/d/flat-rent-\nlausanne/4952698?s=2&t=1&l=20...
735,4960260,NaN,3.0,flat,"1018 Lausanne, VD",Appartement 3 pièces,NaN,None,en/d/flat-rent-\nlausanne/4960260?s=2&t=1&l=20...

In [28]:
df['Id'].value_counts()[df['Id'].value_counts() > 1]

Series([], Name: Id, dtype: int64)